In [5]:
''' Assignment 1: Understanding Series Basics

   -Create a Pandas Series from a Python list containing the numbers 1 through 10. Use default indexing
   -Create another Series with the same values but set custom string indices ("a", "b", ..., "j")
   -Create a Series from a dictionary where the keys are country names and the values are their populations.
   -Compare the output of `index`, `values`, `dtype`, `size`, and `shape` attributes for the Series created above.
'''
import pandas as pd
import numpy as np

series_data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_list1 = pd.Series(series_data1)
print("series from list:\n" ,series_list1)
print()
print('==============================================')
print()
# series with custom indices
series_list2 = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print("series with custom indices:\n" ,series_list2 )
print()
print('===============================================')
print()
population_series = pd.Series({
    'Vatican City' : 764,
    'Tokelau' : 1915,
    'Niue' : 1935
})

print("Top 3 least populated countries:\n" ,population_series)
print()
print('=============================================')
print()
print("Index:\n", population_series.index)
print("Values:\n", population_series.values)
print("Data Type:\n", population_series.dtype)
print("Size:\n", population_series.size)
print("Shape:\n", population_series.shape)

series from list:
 0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

==============================================

series with custom indices:
 a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

===============================================

Top 3 least populated countries:
 Vatican City     764
Tokelau         1915
Niue            1935
dtype: int64

=============================================

Index:
 Index(['Vatican City', 'Tokelau', 'Niue'], dtype='object')
Values:
 [ 764 1915 1935]
Data Type:
 int64
Size:
 3
Shape:
 (3,)

In [19]:
'''Assignment 2: Accessing and Manipulating Series Data
•	Using the Series with custom indices from Assignment 1, retrieve:
•	- The element with the label "e".
•	- The first five elements using slicing.
•	Update the value of the element at index "c" to 100.
•	Check if the label "z" exists in the Series.
•	Extract all values greater than 5
'''
print("-Accessing element with the label 'e' :" ,series_list2['e'])
print()
print("-first five elements sliced with position:\n " ,series_list2[:5])
print()
print("-first five elements sliced with Labels:\n " ,series_list2[:'e'])
print()

# Updating the value of the element at index "c" to 100
series_list2['c'] = 500
print("-Updated the value of the element at index 'c' to 500 :\n" ,series_list2)
print()

# checking non existing element
if 'z' in series_list2:
    print("Label 'z' exists in the series_list2")
else:
    print("-Label 'z' does not exists in the series_list2")
print()

# extracting all values greater than 5. (filtering)
extract_series = series_list1[series_list1>5]
print("-Extract all values greater than 5 in series_list2:\n" ,extract_series)

-Accessing element with the label 'e' : 5

-first five elements sliced with position:
  a      1
b      2
c    500
d      4
e      5
dtype: int64

-first five elements sliced with Labels:
  a      1
b      2
c    500
d      4
e      5
dtype: int64

-Updated the value of the element at index 'c' to 500 :
 a      1
b      2
c    500
d      4
e      5
f      6
g      7
h      8
i      9
j     10
dtype: int64

-Label 'z' does not exists in the series_list2

-Extract all values greater than 5 in series_list2:
 5     6
6     7
7     8
8     9
9    10
dtype: int64

In [32]:
'''Assignment 3: Operations on Series
•	Create two Series:
•	- Series A: Containing values [10, 20, 30, 40, 50].
•	- Series B: Containing values [5, 15, 25, 35, 45].
•	Perform the following operations:
•	- Add the two Series.
•	- Subtract Series B from Series A.
•	- Multiply Series A by 2.
•	Handle missing data when adding two Series with mismatched indices.
'''
series_A = [10, 20, 30, 40, 50]
A = pd.Series(A)
print("\n series A :\n",A)
print()
series_B = [5, 15, 25, 35, 45]
B = pd.Series(B)
print("series B :\n",B)
print()

# Adding two Series
add = A.add(B,fill_value=0)
print("\nAdd two series A and B :\n" ,add)
print()

# Subtracting Series B from Series A
sub = B.sub(A)
print("Subtract Series B from Series A :\n" ,sub)
print()

# Multiplying Series A by 2
multi = A*2
print("Multiply Series A by 2 :\n" ,multi)

 series A :
 0    10
1    20
2    30
3    40
4    50
dtype: int64

series B :
 0     5
1    15
2    25
3    35
4    45
dtype: int64


Add two series A and B :
 0    15
1    35
2    55
3    75
4    95
dtype: int64

Subtract Series B from Series A :
 0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

Multiply Series A by 2 :
 0     20
1     40
2     60
3     80
4    100
dtype: int64

In [34]:
# Handle missing data when adding two Series with mismatched indices.

series_a = pd.Series([10, 20, 30, 40, 50], index=['a', 'b', 'c', 'd', 'e'])
series_b = pd.Series([5, 15, 25, 35, 45], index=['b', 'c', 'd', 'e', 'f'])

# Adding two Series and filling NaN with 0 
mismatch_series = series_a.add(series_b, fill_value=0) 
print("\nSum of Series A and Series B with mismatched indices :\n", mismatch_series)

Sum of Series A and Series B with mismatched indices :
 a    10.0
b    25.0
c    45.0
d    65.0
e    85.0
f    45.0
dtype: float64

In [3]:
'''Assignment 4: Handling Missing Data
•	Create a Series with some missing (NaN) values.
•	Replace all NaN values with a default value of 0.
•	Drop all NaN values from the Series.
'''
import pandas as pd
import numpy as np
data = pd.Series([50, 60, 80, np.nan, 90, 10, np.nan, 79, np.nan])
filled_series = data.fillna(0)
print("\nReplaced all NaN values with a default value of 0:\n" ,filled_series)
print()
drop_series = data.dropna()
print("series with dropping NaN values :\n",drop_series)

Replaced all NaN values with a default value of 0:
 0    50.0
1    60.0
2    80.0
3     0.0
4    90.0
5    10.0
6     0.0
7    79.0
8     0.0
dtype: float64

series with dropping NaN values :
 0    50.0
1    60.0
2    80.0
4    90.0
5    10.0
7    79.0
dtype: float64

In [3]:
'''Assignment 5: Real-World Scenarios
•	Create a Series representing monthly sales data for a store, with months ("Jan" to "Dec") as indices and random sales values.
•	Perform the following:
•	- Find the month with the highest sales.
•	- Calculate the average sales.
•	- Filter for months where sales exceeded the average.
'''
import pandas as pd
import numpy as np

months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
sales = np.random.randint(2000, 8000, size=12)  
sales_data = pd.Series(data=sales, index=months)

# Finding month with the highest sales
highest_sales = sales_data.idxmax()

average = sales_data.mean()

# for months where sales exceeded the average
above_average = sales_data[sales_data > average_sales]


print("Monthly Sales Data:")
print(sales_data)
print("\nMonth with the highest sales:", highest_sales_month)
print("\nAverage sales:", average_sales)
print("\nMonths with sales exceeding the average:")
print(months_above_average)

Monthly Sales Data:
Jan    6545
Feb    3641
Mar    5644
Apr    5291
May    4306
Jun    7733
Jul    5331
Aug    5425
Sep    7217
Oct    5122
Nov    3809
Dec    3139
dtype: int32

Month with the highest sales: Jan

Average sales: 2424.25

Months with sales exceeding the average:
Jan    4782
Mar    3069
Apr    3475
Aug    3410
dtype: int32

In [ ]:
'''Assignment 6: Advanced Exploration (Optional)
•	Create a Series from a large dataset (e.g., a list of random integers).
•	Calculate the frequency of each unique value in the Series.
•	Identify and remove duplicate values.
•	Split the Series into two halves and compare their statistical properties (mean, median, etc.)
'''

In [7]:
large_dataset = pd.Series([22, 1, 25, 23, 56, 45, 11, 7, 8, 9, 55, 22, 11, 22, 56, 1, 25, 89, 7, 8, 45])

print("\nLarge data set:\n")
print(large_dataset)

frequency = large_dataset.value_counts()
print("\nFrequency of each unique value in the Series:\n")
print(frequency)
print("\nDuplicate values removed:", large_dataset.unique())

split = len(large_dataset) // 2
first_half = large_dataset[:split]
second_half = large_dataset[split:]

# Calculating statistical properties
print("\nStatistical properties of the first half:")
print(first_half.describe())

print("\nStatistical properties of the second half:")
print(second_half.describe())

Large data set:

0     22
1      1
2     25
3     23
4     56
5     45
6     11
7      7
8      8
9      9
10    55
11    22
12    11
13    22
14    56
15     1
16    25
17    89
18     7
19     8
20    45
dtype: int64

Frequency of each unique value in the Series:

22    3
1     2
25    2
56    2
45    2
11    2
7     2
8     2
23    1
9     1
55    1
89    1
Name: count, dtype: int64

Duplicate values removed: [22  1 25 23 56 45 11  7  8  9 55 89]

Statistical properties of the first half:
count    10.000000
mean     20.700000
std      17.732895
min       1.000000
25%       8.250000
50%      16.500000
75%      24.500000
max      56.000000
dtype: float64

Statistical properties of the second half:
count    11.000000
mean     31.000000
std      27.136691
min       1.000000
25%       9.500000
50%      22.000000
75%      50.000000
max      89.000000
dtype: float64